* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: #e2e1e0;
}

input {
  display: inline-block;
}

fieldset,
.output-message {
  color: #8a97a0;
  background-color: #f4f7f8;
  border: none;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.output-message {
  margin-top: 25px;
  font-size: 1.2em;
}

input[type="text"],
select,
a,
a:visited,
a:active {
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  margin-bottom: 30px;
  text-decoration: none;
}

input[type="text"],
select {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

a,
a:visited,
a:active {
  background: none;
  padding: 0;
  border: none;
  color: #1abc9c;
}

a:hover {
  text-decoration: underline;
}

input[type="text"]:focus,
select:focus {
  background: #d2d9dd;
}

select {
  -webkit-appearance: menulist-button;
  height:35px;
}

#submit-button {
  padding: 10px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 30%;
  margin-bottom: 10px;
  height: 21px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#submit-button:hover {
  background: #109177;
  cursor: pointer;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #e8eeef inset;
}

#delay {
  display: inline-block;
  width: 120px;
}

#amount,
#proxies {
  display: inline-block;
  width: 100px;
}

#amount {
  width: 60px;
}

#insert-label {
  font-size: 1.3em;
}

#url {
  margin-top: 15px;
  width: 90%;
  text-align: center;
}

#url.hover {
  /*background-color: #d2d9dd;*/
  box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
}

#result-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.1em;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#result-table td {
  padding: 10px 0;
}

td.first-col {
  width: 30%;
}

tr:first-child .first-col {
  border-top-left-radius: 8px;
}

tr:first-child .last-col {
  border-top-right-radius: 8px;
}

tr:last-child .first-col {
  border-bottom-left-radius: 8px;
}

tr:last-child .last-col {
  border-bottom-right-radius: 8px;
}

.odd {
  background-color: #e8eeef;
}

.even {
  background-color: #f4f7f8;
}

#pages-amount-label {
  margin-left: 20px;
}

.button-loader {
  margin-top: 5px;
  display: none;
}

.fa.fa-times {
  margin: 5px;
  font-size: 1.5em;
  line-height: 2em;
}

.fa.fa-times:hover {
  cursor: pointer;
  color: #1abc9c;
}

.no-content-text {
  color: #8a97a0;
}

.erase-button {
  position: relative;
  display: inline-block;
}

.erase-button .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
  opacity: 0;
  transition: opacity 1s;
  font-size: .6em;
  height: 30px;
  line-height: 30px;
}

.erase-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.erase-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#base-ip,
#all-pages {
  margin-left: 20px;
}