<!DOCTYPE html>
<head>
    <script src='/js/jquery-3.2.0.js'></script>
    <script src='/js/scraping-tool.js'></script>
    <link rel='stylesheet' type='text/css' href='/css/styles.css'>
    <link rel='stylesheet' type='text/css' href='/css/font-awesome-4.7.0/css/font-awesome.min.css'>
</head>
<body>
    <div id='input-area'>
        <fieldset>
            <span id='insert-label'>Insert URL or drag and drop file to this field</span><br/>
            <input title='' type='text' name='url' id='url'>
            <div class='fa fa-times erase-button'><span class='tooltiptext'>Clear field</span></div>
            <div id='settings-area'>
                <span id='delay-label'>Delay:</span>
                <select name='delay' id='delay'>
                    <option value='0'>0 seconds</option>
                    <option value='1000'>1 second</option>
                    <option value='3000'>3 seconds</option>
                    <option value='5000'>5 seconds</option>
                    <option value='10000'>10 seconds</option>
                    <option value='15000'>15 seconds</option>
                    <option value='30000'>30 seconds</option>
                    <option value='45000'>45 seconds</option>
                    <option value='60000'>1 minute</option>
                    <option value='180000'>3 minutes</option>
                    <option value='300000'>5 minutes</option>
                    <option value='600000'>10 minutes</option>
                    <option value='900000'>15 minutes</option>
                </select>
                <span id='pages-amount-label'>Amount of pages:</span>
                <input title='' type='text' name='amount' id='amount'>
                <input type="checkbox" id="all-pages" name="all-pages" value="true">
                <label for="all-pages">All pages</label>
                <span id='pages-amount-label'>Amount of proxies:</span>
                <select name='proxies' id='proxies'>
                    <option value='0'>0</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                </select>
                <input type="checkbox" id="base-ip" name="base-ip" value="true">
                <label for="base-ip">Use base IP</label>
            </div>
            <div id='submit-button'>
                <span class='button-label'>Find E-mails</span>
                <img class='button-loader' src='/img/ajax-loader.gif'>
            </div>
        </fieldset>
    </div>
    <div id='result-area'></div>
</body>
