<table id="result-table">
    {% for item in output %}
        <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
            {% if item.therapistName is empty %}
                <td class='first-col'>
                    <a href="{{ item.therapistProfileUrl }}" target="_blank">Profile</a>
                </td>
            {% else %}
                <td class='first-col'>
                    <a href="{{ item.therapistProfileUrl }}" target="_blank">{{ item.therapistName }}</a>
                </td>
            {% endif %}
            <td class='second-col'>
                {% if item.therapistWebsiteUrl is null %}
                    <span class='no-content-text'>There's no link for website.</span>
                {% else %}
                    <a href="{{ item.therapistWebsiteUrl }}" target="_blank">Website</a>
                {% endif %}
            </td>
            {% if item.therapistAddresses is null %}
                <td class='third-col last-col'>
            {% else %}
                <td class='third-col'>
            {% endif %}
                {% if item.therapistEmails is null %}
                    <span class='no-content-text'>Can't find any e-mails.</span>
                {% else %}
                    {% if item.therapistEmails is iterable %}
                        {% for value in item.therapistEmails %}
                            {{ value }}<br>
                        {% endfor %}
                    {% else %}
                        {{ item.therapistEmails }}
                    {% endif %}
                {% endif %}
            </td>
            {% if item.therapistName is empty %}
            {% else %}
                <td class='fourth-col last-col'>
                    {% if item.therapistAddresses is null %}
                        <span class='no-content-text'>There is no therapists address.</span>
                    {% else %}
                        {% if item.therapistAddresses is iterable %}
                            {% for value in item.therapistAddresses %}
                                {{ value }}<br>
                            {% endfor %}
                        {% else %}
                            {{ item.therapistAddresses }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
